@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600&family=Outfit:wght@300;400;500&display=swap');

:root {



--main-bg: hsl(217, 54%, 11%);
--White: hsl(0, 0%, 100%);

--initial-width: 1440px;
--Zindex:10;

--font-family: 'Outfit', sans-serif;
--clr-grey-9: hsl(212, 33%, 89%);
--clr-gold: #c59d5f;

--transition: all 0.3s linear;
--spacing: 0.25rem;
--radius: 0.5rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
--max-width: 1170px;
--fixed-width: 620px;
}


*,*::after,*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--main-bg) ;
    color: var(--White);
}

a{
text-decoration: none;
}

hr{
    width:50px;
    height:6px;
    background-color:var(--clr-gold);
    border:none;
}

h1{
   margin-top: 10px;
}

nav a{
color:var(--clr-gold);
width:70px;
text-align: center;
border: 1px solid var(--clr-gold);
border-radius: 5%;
outline: var(--clr-gold);
margin: 10px;

}
.header-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap:15px;
}

.header-content nav{
    display:flex;
    justify-content: center;
    gap:1rem;
    align-items: center;
    
}
.header-content h1{
    text-align: center;
}

.header-content hr{
    align-items: center;
}


section{
    display: flex;
    justify-content: space-between;
    gap: 20px; /* This adds spacing between articles */
    padding: 20px;
    flex-wrap: wrap; /* Allow wrapping of flex items */
}

.articile-One{
    display: flex;
    flex-basis: calc(50% - 20px);
   justify-content:space-around;

 

}
.baraka{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}


.baraka p{
    color:var(--clr-gold) ;
}

.content-baraka{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}

p{
    padding: 10px;
    line-height: 20px;  
}

.content-baraka button{
    padding:5px;
    border-radius: 4px;
    margin-left: 5px;
    border: 0;
    outline: none;
    background-color:orange;
    font-weight: bold;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

img{
   width:200px; /* Set image width to 100% of its container */
    height: 160px;
    border:3px solid var(--clr-gold);
    border-radius: 4px;
   
}



